.nav{
    grid-area: n;
    background-color: rgb(197, 161, 114);
    padding: 20px;
    }

    
    .item a {

color: white;
text-decoration: none;

    }


.item a.active {
    color: gold;
}
.avatarImg img {
   
    margin-right:8px;
        margin-top: 3px;
        width: 45px;
        height: 45px;
        border-radius: 25px;
        
    
        
    }

   